@model CetStudentBook.Models.Book

<h2>Create Book</h2>

<form asp-action="Create" method="post">

    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label>Author</label>
        <input asp-for="Author" />
    </div>

    <div>
        <label>PageCount</label>
        <input asp-for="PageCount" />
    </div>

    <div>
        <label>PublishDate</label>
        <input asp-for="PublishDate" type="date" />
    </div>

    <div>
        <label>IsSecondHand</label>
        <input asp-for="IsSecondHand" type="checkbox" />
    </div>

    <button type="submit">Create</button>

</form>